.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.form_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
} 

.form {
  background: #ffffff;
  width: 600px;
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  border-radius: 15px;
  color: #000000;
}

.title {
  grid-column: span 2;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.input_box {
  position: relative;
  width: 100%;
  height: 50px;
}

.input_box input,
.input_box select {
  width: 100%;
  height: 100%;
  padding: 0 45px 0 15px;
  font-size: 16px;
  border: 1px solid #333333;
  border-radius: 10px;
  background-color: white;
  color: #333333;
}

.input_box input::placeholder,
.input_box select option {
  color: #333333;
}

.icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #333333;
}

.button {
  grid-column: span 2;
  height: 50px;
  background-color: #0097ca;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button:hover {
  background-color: #333333;
}

.error_message {
  grid-column: span 2;
  color: red;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 1080px) {
  .form {
    width: 90%;
    padding: 20px;
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .title {
    grid-column: span 1;
  }

  .button {
    grid-column: span 1;
  }

  .button_box {
    grid-column: span 1;
    flex-direction: column;
  }
}
  