# Ignora la carpeta de dependencias del proyecto principal y del frontend
node_modules/
Frontend/node_modules/

# Ignora los archivos generados por Next.js
.next/
Frontend/.next/

# Ignora el archivo de entorno
.env
Frontend/.env

# Ignora logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignora directorios del sistema operativo
.DS_Store
Thumbs.db

